{% extends 'base.html' %}

{% block title %}Posts View{% endblock %}

{% block content %}

<h1 class="my-2">Title : {{ post.title }}</h1>
<hr>
{% if post.image %}

<img src="{{MEDIA_URL}}{{ post.image }}" width="30%" alt="{{MEDIA_URL}}{{ post.image }}">
<!-- <a href="/post"><img src="media/{{post.image}}" alt=""></a> -->
{%else%}
<img src="https://source.unsplash.com/1600x900/?blogs" width="30%" alt="Sample Image">
{% endif %}

<p class="lead">Author:    <a href="/user/{{post.author.id}}"> {{post.author}} </a><br> Publication Date:      
    {{post.date}}</p>
<hr>

<div>
    <h3>Content</h3>
    <p>{{post.content|linebreaks}}</p>
</div>
<hr>
<div>
    <h4>Tags:</h4>
    {% for tag in post.tags.all %}
    <ul>
        <li># {{tag}}</li>
    </ul>
    {% endfor %}
    <hr>
    <h4>Comments:</h4>

    {% for comment in post.comments.all %}
        <ul>
            <li><strong>{{comment}}:</strong> {{comment.content}}</li>
        </ul>
    {% endfor %}
</div>
<hr>
<a href="{{post.id}}/verification" class="btn btn-info mb-4">Edit Post</a><br>

{% endblock %}