{% extends 'base.html' %}

{% block title %}Tags View{% endblock %}

{% block content %}
<h1>Tags</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Posts</th>
                <th scope="col">CRUD</th>
            </tr>
        </thead>
        <tbody>
            {%for tag in tags%}
            <tr>
                <th scope="row">{{tag.id}}</th>
                <td>{{tag.name}}</td>
                <td>
                    {% for post in tag.posts.all %}
                        <li><a href="/post/{{post.id}}">{{post}}</a></li> 
                    {% endfor %}
                </td>
                <td>
                    <a href="{{tag.id}}/verification" class="btn btn-warning">Edit Tag</a><br>
                    <a href="{{tag.id}}/delete" class="btn btn-danger mt-2">Delete Tag</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <a href="verification" class="btn btn-primary mt-2">+ Add tags</a>
{% endblock %}